# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/weeper-server/build.gradle.kts
/weeper-server/src/minecraft
/paper-server
/weeper-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
