Spigot
Weeper-API
Weeper-Server
mc-dev
*.iml
.idea
.DS_Store
weeperclip.jar
clip.jarweeper-serverclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jarweeperclip.jar